<p>{{question.Text}}</p>
<ng-container [ngSwitch]="question.QuestionType">

  <ng-container *ngSwitchCase="QUESTION_TYPE_ENUM.PercentSlider">
  <ion-range [max]="100" [min]="0" [pin]="true" [snaps]="true" [step]="10" [ticks]="true" [(ngModel)]="value" (ionChange)="onValueChange()" mode="ios">
    <ion-label slot="start">0%</ion-label>
    <ion-label slot="end">100%</ion-label>
    <ion-label slot="end" class="resultLabel">
      <ng-container *ngIf="value">{{value}}%</ng-container>
    </ion-label>
  </ion-range>
  </ng-container>
  
  <ng-container *ngSwitchCase="QUESTION_TYPE_ENUM.RadioGroup">
    <ion-list mode="md">
      <ion-radio-group [(ngModel)]="value" (ionChange)="onValueChange()">
        <ion-item *ngFor="let answer of question.Answers">
          <ion-label>{{answer.Answer}}</ion-label>
          <ion-radio slot="start" value="{{answer.Answer}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ng-container>

</ng-container>
