<p>{{question.Text}}</p>
<ng-container [ngSwitch]="question.QuestionType">

  <ng-container *ngSwitchCase="QuestionTypeEnum.PercentSlider">
  <ion-range [max]="100" [min]="0" [pin]="true" [snaps]="true" [step]="10" [ticks]="true" [(ngModel)]="value" (ionChange)="onValueChange()" mode="ios">
    <ion-label slot="start">0%</ion-label>
    <ion-label slot="end">100%</ion-label>
    <ion-label slot="end" class="resultLabel">
      <ng-container *ngIf="value">{{value}}%</ng-container>
    </ion-label>
  </ion-range>
  </ng-container>
  
  <ng-container *ngSwitchCase="QuestionTypeEnum.RadioGroup">
    <ion-list mode="md">
      <ion-radio-group [(ngModel)]="value" (ionChange)="onValueChange()">
        <ion-item *ngFor="let answer of question.Answers">
          <ion-label class="ion-text-wrap">{{answer.Answer}}</ion-label>
          <ion-radio slot="start" value="{{answer.Answer}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ng-container>

  <ng-container *ngSwitchCase="QuestionTypeEnum.Checkbox">
    <ion-list mode="md">
      <ion-item *ngFor="let option of question.CheckboxOptions; index as index">
        <ion-label>{{option}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="checkedCheckboxes[index]" (ionChange)="onValueChange()"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ng-container>

</ng-container>
