<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <h1>Frauen-Kompatibilitätsmesser</h1>
  <p><small>V{{version}}</small></p>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <p>Copyright 2021 by Lina and Jürg</p>
  <hr>
  <ion-text color="medium">
    <ion-icon name="woman" size="large"></ion-icon>
    <ion-icon name="man" size="large"></ion-icon>
    <ion-icon name="woman" size="large"></ion-icon>
    <ion-icon name="man" size="large"></ion-icon>
    <ion-icon name="woman" size="large"></ion-icon>
    <ion-icon name="man" size="large"></ion-icon>
    <ion-icon name="woman" size="large"></ion-icon>
  </ion-text>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <ion-text color="medium">
    <p>
      Developed with <ion-icon name="logo-angular" color="danger"></ion-icon>,
      <ion-icon name="logo-ionic" color="tertiary"></ion-icon> and <ion-icon name="heart" color="danger"></ion-icon><br>
      in Cavallino, Ravenna and Diepoldsau
    </p>
  </ion-text>
</ion-content>
