<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Fragebogen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [pager]="true" (ionSlideDidChange)="setCurrentSlide()" [options]="{allowTouchMove:false}">
    <ion-slide *ngFor="let questionGroup of questionGroups">
      <ion-content class="ion-padding-bottom" [fullscreen]="true">
        <app-question-group-view [questionGroup]="questionGroup"></app-question-group-view>
      </ion-content>
    </ion-slide>
  </ion-slides>

  <div class="controlButtons">
    <ion-button color="secondary" (click)="gotoPrevSlide()" [@ControlButtonSize]="animationStateBackButton">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      Zurück
    </ion-button>
    <ion-button color="primary" (click)="gotoNextSlide()" [@ControlButtonSize]="animationStateNextButton">
      <ion-icon name="arrow-forward" slot="start"></ion-icon>
      Weiter
    </ion-button>
    <ion-button color="success" [routerLink]="['results']" routerDirection="forward" routerLinkActive="router-link-active" [@ControlButtonSize]="animationStateResultButton">
      <ion-icon name="golf-outline" slot="start"></ion-icon>
      Auswertung
    </ion-button>
  </div>

</ion-content>
